<hgroup class="inline-block w-full">
  <!-- you style these slotted elements with Tailwind where you use the component -->
  <slot name="overline"></slot>

  <h1 class="font-semibold leading-tight">
    <slot></slot>
  </h1>

  <slot name="sub"></slot>
</hgroup>
<hgroup class="inline-block w-full">
      <!-- you style these slotted elements with Tailwind where you use the component -->
      <slot name="overline"></slot>

  <h1 class="font-semibold leading-tight">
    <slot></slot>
  </h1>

  <slot name="sub"></slot>
</hgroup>
